<!--Grupo 14 - Ramon Rosa Perez y Victor Velazquez Cabrera-->
<!DOCTYPE html> 
<html lang="es">
   <head>
      <title>Gestor de tareas</title>
      <meta charset="utf-8"/>
      <link rel="stylesheet" href="./css/login.css" media="screen">
      <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
      <link rel="icon" type="img/png" href="./img/libretaBlanca.png">

    </head>
   <body>
       <div class="total">
           <div class="cab">
                <div class="cabecera">
                    <div class="logo">
                        <img id="libreta" src="./img/libretaBlanca.png"></img>
                        <h1 class="notes">NOTES</h1>
                    </div>
                </div>
            </div>
            <div class="cuerpo">
                <form class="login" action="login" method="POST">
                    <div class=correo"><strong>Correo:</strong> <input class="texto" type="text" name="correo"></div>
                    <div class=pass"><strong>Contraseña:</strong> <input class="textopass" type="password" name="password"></div>
                    <div class="botones">
                        <button class="boton ini" type="submit">Iniciar sesión</button>
                    </div> 
                </form>
                <p class="error"><%= errorMsg %></p>
            </div>
       </div>   
   </body>
</html>