<!--Grupo 14 - Ramon Rosa Perez y Victor Velazquez Cabrera-->
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestor de tareas</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/tasksScreen.css" media="screen">
    <link rel="stylesheet" href="css/tasksPrint.css" media="print">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="img/png" href="../public/img/libretaBlanca.png">

</head>

<body>
    <div class="total">
        <div class="cab">
            <div class="cabecera">
                <div class="logo">
                    <img id="libreta" src="img/libretaBlanca.png"></img>
                    <h1 class="notes">NOTES</h1>
                </div>
                <div class="userinfo">
                    <div class="userimg">
                        <img id="userimg" src="img/avatar.png"></img>
                    </div>
                    <div class="info">
                        <div class="useremail">
                            usuario@gmail.com
                        </div>
                        <a href="/logout" class="desc">
                            <div class="desconectar">
                                Desconectar
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cuerpo">
            <div class="contenido">
                <div class="tareas">
                    <% tasks.forEach(function(task) { %>
                        <% if(task.done){ %>
                            <div class="tareafinalizada">
                                <div class="titulotareafinalizada">
                                    <strong class="caracter">&#8226&nbsp</strong>
                                    <%= task.text %>
                                </div>
                            </div>
                        <% } else { %>
                                <div class="tarea">
                                    <div class="titulotarea">
                                        <strong class="caracter">&#8226&nbsp</strong>
                                        <%= task.text %> <strong class="caracter">:</strong>
                                    </div>
                                    <% task.tags.forEach(function(tag) { %>
                                        <div class="tag">
                                            <strong class="caracter">(</strong>
                                            <%= tag %> <strong class="caracter">)</strong>
                                        </div>
                                        <% }); %>
                                            <a class="a_botonfinalizada" href="/finish/<%= task.id %>">
                                                <div class="botonfinalizada">
                                                    MARCAR FINALIZADA
                                                </div>
                                            </a>
                                </div>
                        <% }
                    }); %>
                </div>

                <div class="nuevatarea">
                    <form action="/addTask" method="POST" class="form_tarea">
                        Nueva Tarea: <input id="text_nueva_tarea" type="text" name="nombre_tarea" required>
                        <button id="boton_nueva_tarea" type="submit">Añadir</button>
                    </form>
                </div>

                <a href="/deleteCompleted" class="elim">
                    <div class="eliminartareas">
                        Eliminar Tareas Completadas
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</body>

</html>